.AllCohorts {
  display: flex;
}

.cohortContainer {
  border: 1px solid black;
  width: 25%;
  margin: 5%;
  text-align: center;
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.cohortName {
  text-decoration: none;
}