* {
  box-sizing: border-box;
  font-family: 'Exo', sans-serif;
}

html {
  position: relative;
}

.NavComponent {
  text-align: center;
  position: fixed;
  background: white;
  width: 100%;
  height: 50px;
  top: 0px;
  border-bottom: 5px black solid;

}

.Footer {
  text-align: center;
  background: white;
  font-size: 12px;
  width: 100%;
  height: 40px;
  border-top: 5px black solid;
}

.LogIn {
  padding-top: 50px;
  min-height: calc(100vh - 40px);
}

.AllCohorts {
  display: flex;
  padding-top: 10%;
  min-height: calc(100vh - 40px);
}

.SingleCohort {
  padding-top: 50px;
  min-height: calc(100vh - 40px);
}

.UpdateStudentForm {
  padding-top: 50px;
  min-height: calc(100vh - 40px);
}
