/* @keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px black;
  }
  100% {
    box-shadow: 0 0 0 900px yellow;
  }
} */

.HomeButton {
  /* animation: shadow-pulse 2s infinite; */
  position: relative;
  border: 1px solid black;
  width: 15%;
  height: 10%;
  text-align: center;
  background: white;
  margin: 0 auto;
  margin-top: 2%;
  border-radius: 10px;
  padding: 10px;
}

.HomeButton a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  transition: ease .3s;
}

.HomeButton a:hover {
  color: #b31900;
  font-size: 20px;
}