.LogIn {
  height: 50vh;
}

.loginCreateContainer{
  display:flex;
  justify-content: center;
  /* background-color: gray; */
  height: 100%;
}

.logInContainer {
  border: 1px solid black;
  text-align: center;
  width: 25%;
  margin: 5%;
  padding: 1%;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  /* background: red; */
}

.createContainer {
  border: 1px solid black;
  text-align: center;
  width: 25%;
  margin: 5%;
  padding: 1%;
  /* background: black; */
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
}

input {
  padding: 12px 0;
  margin: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.btn {
  border: 1px solid black;
  width: 20%;
  height: 10%;
  font-size: 13px;
  transition: ease 1s;
}

.btn:hover {
  border: 1px solid #1F78B4;
}

.field {
  background: rgba(161, 163, 166, .2);
}