.LogIn {
  height: 50vh;
}

.loginCreateContainer{
  background: lightblue url("https://wallpaperaccess.com/full/450430.jpg");
  background-repeat: no-repeat;
  /* min-height: 100%; */
  /* background-attachment: fixed; */
  background-size: cover;
  /* background-position: center; */
  /* height: 100%; */
  position: fixed;
  top: 400px;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: calc(100vh - 240px);
}

.overlay {
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;
}

.logInContainer {
  /* border: 1px solid black; */
  text-align: center;
  width: 25%;
  margin: 5%;
  padding: 1%;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  background:white;

}

.createContainer {
  /* border: 1px solid black; */
  text-align: center;
  width: 25%;
  margin: 5%;
  padding: 1%;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  background:white;
}

input {
  padding: 12px 0;
  margin: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
  width: 90%;
  font-size: 16px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
}
input[type=text]{
  display: inline-block;
  border: none;
  text-align: left;
  box-shadow: 1px 1px 1px 1px rgba(169, 169, 169, .5);
  padding: 10px;
  width: 80%;
  margin: 10px 0;
  background: transparent;
  color: #000;
}

.btn {
  text-align: center;
  background: transparent;
  color: #000;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 20px 0;
  /* padding: 10px 30px; */
  border: 2px solid rgba(169, 169, 169, .5);
  width: 35%;
  transition: ease .5s;
}

.btn:hover {
  background: transparent;
  border: 2px solid #a1c4fd;
  cursor: pointer;
}

.field {
  background: rgba(161, 163, 166, .2);

}
