.header {
  text-align: center;
}

.SingleCohort {
  background: url("https://res.cloudinary.com/mrtommyliang/image/upload/v1566914553/creampixels%20from%20toptal.png");
}

.SingleCohort h4 {
  text-align: center;
  font-size: 18px;
}

.SCRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.StudentList {
  width: 33%;
  height: 50%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
  padding: 25px 50px 50px 50px;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
  line-height: 40px;
}

.studentEntryRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dashed black;
  font-size: 16px;
}

.studentEntryRow>div {
  transition: ease .2s
}

.studentEntryRow>div:hover {
  color: #b31900;
  font-size: 17px;
  cursor: pointer;
}

.studentEntryRow a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.studentEntryRow>button {
  cursor: pointer;
}


.singleStudent {
  width: 33%;
  line-height: 40px;
  padding: 25px 50px 50px 50px;
  margin-left: 5%;
  margin-right: 5%;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .2);
}

.singleStudent>div {
  font-size: 17px;
}

.singleStudent>a {
  font-size: 17px;
}

.NewStudentForm {
  display: flex;
  flex-direction: column;
}

.CreateNewStudentForm>form {
  font-size: 16px;
}

.CreateNewStudentInput {
  width: 100% !important;
}

.NewStudentFormButton {
  cursor: pointer;
  background: transparent;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 0;
  padding: 10px 10px;
  border: 2px solid rgba(169, 169, 169, .5);
}

@media only screen and (max-width:768px) {
  .SCRow {
    flex-direction: column;
  }
  .StudentList {
    width: 91%;
  }

  .NewStudentFormButton {
    margin: 0 auto;
  }

  .singleStudent {
    width: 91%;
    margin-bottom: 5%;
  }
}
