.header {
  text-align: center;
}

.SingleCohort h4 {
  text-align: center;
}

.SCRow {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.StudentList {
  width: 50%;
  /* height: 100%; */
  padding-right: 100px;
  padding-left: 100px;
  background: gray;
}

    .studentEntryRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: .5px black dashed
    }


.singleStudent {
  width: 50%;
  /* height: 100%; */
  padding-right: 100px;
  padding-left: 100px;
}

.CreateNewStudentForm {
  display: flex;
  flex-direction: column;
}


/* need to add media query */
